@import "tailwindcss";

/*@config "../../tailwind.config.js";*/

@theme {

  --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-noto-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;

  /* ========================================
   *
   *        Material 3 Color schemes
   *    DON'T EDIT COLOR AND NAMES !
   *
   * ======================================== */
  --color-primary-fixed: #bde9ff;
  --color-primary-fixed-dim: #65d3ff;
  --color-on-primary-fixed: #001f2a;
  --color-on-primary-fixed-variant: #004d64;
  --color-secondary-fixed: #d0e6f2;
  --color-secondary-fixed-dim: #b4cad6;
  --color-on-secondary-fixed: #081e27;
  --color-on-secondary-fixed-variant: #354a53;
  --color-tertiary-fixed: #e3dfff;
  --color-tertiary-fixed-dim: #c6c2ea;
  --color-on-tertiary-fixed: #191836;
  --color-on-tertiary-fixed-variant: #454364;
  --color-surface-dim: #111415;
  --color-surface-bright: #373a3b;
  --color-surface-container-lowest: #0c0f10;
  --color-surface-container-low: #191c1e;
  --color-surface-container: #1d2022;
  --color-surface-container-high: #272a2c;
  --color-surface-container-highest: #323537;
  --color-primary: #65d3ff;
  --color-on-primary: #003546;
  --color-primary-container: #004d64;
  --color-on-primary-container: #bde9ff;
  --color-secondary: #b4cad6;
  --color-on-secondary: #1f333c;
  --color-secondary-container: #354a53;
  --color-on-secondary-container: #d0e6f2;
  --color-tertiary: #c6c2ea;
  --color-on-tertiary: #2e2d4d;
  --color-tertiary-container: #454364;
  --color-on-tertiary-container: #e3dfff;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffb4ab;
  --color-background: #191c1e;
  --color-on-background: #e1e2e4;
  --color-surface: #191c1e;
  --color-on-surface: #e1e2e4;
  --color-surface-variant: #40484c;
  --color-on-surface-variant: #c0c8cd;
  --color-outline: #8a9297;
  --color-outline-variant: #40484c;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #e1e2e4;
  --color-inverse-on-surface: #2e3132;
  --color-inverse-primary: #006783;

  /* ========================================
   *
   * Material 3 Typography
   *
   * ======================================== */
  --text-display-large: 57px;
  --text-display-large--line-height: 64px;
  --text-display-large--letter-spacing: -0.25px;

  --text-display-medium: 45px;
  --text-display-medium--line-height: 52px;

  --text-display-small: 36px;
  --text-display-small--line-height: 44px;

  --text-headline-large: 32px;
  --text-headline-large--line-height: 40px;

  --text-headline-medium: 28px;
  --text-headline-medium--line-height: 36px;

  --text-headline-small: 24px;
  --text-headline-small--line-height: 32px;

  --text-title-large: 22px;
  --text-title-large--line-height: 28px;

  --text-title-medium: 16px;
  --text-title-medium--line-height: 24px;
  --text-title-medium--letter-spacing: 0.15px;

  --text-title-small: 14px;
  --text-title-small--line-height: 20px;
  --text-title-small--letter-spacing: 0.1px;

  --text-body-large: 16px;
  --text-body-large--line-height: 24px;
  --text-body-large--letter-spacing: 0.5px;

  --text-body-medium: 14px;
  --text-body-medium--line-height: 20px;
  --text-body-medium--letter-spacing: 0.25px;

  --text-body-small: 12px;
  --text-body-small--line-height: 16px;
  --text-body-small--letter-spacing: 0.4px;

  --text-label-large: 14px;
  --text-label-large--line-height: 20px;
  --text-label-large--letter-spacing: 0.1px;

  --text-label-medium: 12px;
  --text-label-medium--line-height: 16px;
  --text-label-medium--letter-spacing: 0.5px;

  --text-label-small: 11px;
  --text-label-small--line-height: 16px;
  --text-label-small--letter-spacing: 0.5px;

  /* ========================================
   *
   * Theme extensions
   *
   * ======================================== */
  --rounded-xs: 4px;
  --rounded-sm: 8px;
  --rounded-md: 12px;
  --rounded-lg: 16px;
  --rounded-xl: 28px;
  --rounded-full: 9999px;

  --shadow-dp1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-dp2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-dp3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --shadow-dp4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  --shadow-dp5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

  /*--spacing-keyline: 16px;*/
  /*--spacing-8: 8px;*/
  /*--spacing-16: 16px;*/
  /*--spacing-24: 24px;*/
  /*--spacing-40: 40px;*/
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --ease-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --ease-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --ease-accelerate: cubic-bezier(0.4, 0, 1, 1);

  --duration-short1: 50ms;
  --duration-short2: 100ms;
  --duration-short3: 150ms;
  --duration-short4: 200ms;
  --duration-medium1: 250ms;
  --duration-medium2: 300ms;
  --duration-medium3: 350ms;
  --duration-medium4: 400ms;
  --duration-long1: 450ms;
  --duration-long2: 500ms;
  --duration-long3: 550ms;
  --duration-long4: 600ms;
}

.thin_outlined_icon {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;
}

.normal_outlined_icon {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
